<nav>
    <div class="site-title">
        <a href="/">
            <h1>Timed Study</h1>
        </a>
        <p>An Effective way to Study!</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/">Achievements</a></li>
    </ul>
</nav>