<html lang="en">
<!-- I spent 25 minutes trying to figure out why this would not displaty on the page and all it needed was the - at the beginning of the include-->
<%- include ('partials/head.ejs') %>
    <%- include ('partials/nav.ejs') %>

        <body>
            <div id="stopwatch">
                00:00:00
            </div>

            <ul id="buttons">
                <li><button onclick="startTimer()">Start</button></li>
                <li><button onclick="stopTimer()">Stop</button></li>

                <li><button onclick="resetTimer()">Reset</button></li>
            </ul>

            <script>
                const timer = document.getElementById('stopwatch');

                var hr = 0;
                var min = 0;
                var sec = 0;
                var stoptime = true;

                function startTimer() {
                    if (stoptime == true) {
                        stoptime = false;
                        timerCycle();
                    }
                }

                function stopTimer() {
                    if (stoptime == false) {
                        stoptime = true;
                    }
                }

                function timerCycle() {
                    if (stoptime == false) {
                        sec = parseInt(sec);
                        min = parseInt(min);
                        hr = parseInt(hr);

                        sec = sec + 1;

                        if (sec == 60) {
                            min = min + 1;
                            sec = 0;
                        }
                        if (min == 60) {
                            hr = hr + 1;
                            min = 0;
                            sec = 0;
                        }

                        if (sec < 10 || sec == 0) {
                            sec = '0' + sec;
                        }
                        if (min < 10 || min == 0) {
                            min = '0' + min;
                        }
                        if (hr < 10 || hr == 0) {
                            hr = '0' + hr;
                        }

                        timer.innerHTML = hr + ':' + min + ':' + sec;

                        setTimeout("timerCycle()", 1000);
                    }
                }

                function resetTimer() {
                    timer.innerHTML = '00:00:00';
                }
            </script>
        </body>

        <%- include ('partials/footer.ejs') %>

</html>