<html lang="en">
<%- include ('partials/head.ejs')%>

    <body>
        <%- include ('partials/nav.ejs') %>
            <h2>What this studying does</h2>
            <p>everything </p>
    </body>


</html>