<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="about content">
                <h2>About the Project</h2>
                <p>Honestly I have no idea how half of this works without googling it but it works so i wont complain!</p>
                <br>
                <hr>
                <p>This took me about 9 Days total of actually working. Typically I spent around 2-4 hours working on it. I am not efficient at all :) </p>
                <ul>
                    <li>Getting the server online and getting the routes done: About 8 hours total probable</li>
                    <li>Learning and Dealing with how to use NodeJS to build the server functionality and database: 16 hours </li>
                    <li>Styling the website: 3 hours total if i had to guess. Honestly most of it came from some rando on GitHub</li>
                </ul>
                <hr>
                <br>
                <p>Link to the GitHub for the backend stuff. Don't judge the code it is horrendous!</p>
                <ul>
                    <li id="git"><a href="https://github.com/issa38" target='_blank'>Click Click!</a></li>
                </ul>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>