<html lang="en">
<!-- I spent 25 minutes trying to figure out why this would not displaty on the page and all it needed was the - at the beginning of the include-->
<%- include ('partials/head.ejs') %>
    <%- include ('partials/nav.ejs') %>

        <body>
            <ul class="container__task">
                <li class="task">Finish Website</li>
                <li class="task">Do Homework</li>
                <li class="task">French Practice</li>
                <li class="task">Learn Hot Men</li>
            </ul>
        </body>

        <%- include ('partials/footer.ejs') %>

</html>